#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LALT>, <&macro_tap>, <&kp TAB>;

            label = "ALT_TAB";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll: scroll {
            compatible = "zmk,behavior-sensor-rotate";
            label = "SCROLL";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp W         &kp E         &kp R                        &kp T                                                 &kp Y      &kp U  &kp I     &kp O     &mo 3
&kp A    &kp S         &kp D         &kp F                        &kp G            &kp DELETE          &kp BACKSPACE    &kp H      &kp J  &kp K     &kp L     &kp P
&kp Z    &kp X         &kp C         &kp V                        &kp B            &mkp MB2            &alt_tab         &kp N      &kp M  &mkp MB1  &mkp MB3  &mkp MB2
&kp TAB  &kp LEFT_GUI  &kp LEFT_ALT  &mt LEFT_SHIFT INT_MUHENKAN  &mt LCTRL SPACE  &lt 4 INT_HENKAN    &lt 1 BACKSPACE  &lt 2 RET                             &kp ESC
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_1 {
            bindings = <
&kp LS(N5)               &kp LS(N4)        &kp LS(NUMBER_6)  &kp EQUAL        &kp SLASH                            &kp INTERNATIONAL_3      &kp LS(RIGHT_BRACE)  &kp LS(BACKSLASH)  &kp LS(COMMA)  &kp LS(PERIOD)
&kp LEFT_BRACE           &kp LS(N3)        &kp LS(APOS)      &kp LS(SEMI)     &kp LS(MINUS)      &trans    &trans  &kp MINUS                &kp LS(N8)           &kp LS(N9)         &kp SEMICOLON  &kp APOS
&kp LS(LEFT_BRACE)       &kp LS(EQUAL)     &kp COMMA         &kp PERIOD       &kp LS(SLASH)      &trans    &trans  &kp LS(INTERNATIONAL_3)  &kp RIGHT_BRACE      &kp NON_US_HASH    &kp LS(N7)     &kp LS(NUMBER_2)
&kp LS(INTERNATIONAL_1)  &kp LS(NUMBER_1)  &trans            &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &tog 2    &trans  &kp RG(LCTRL)                                                                   &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        layer_2 {
            bindings = <
&kp DEL  &kp N7        &kp N8        &kp N9        &trans                        &kp RET        &kp HOME        &kp UP_ARROW    &kp END          &kp RIGHT_ALT
&trans   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &kp COMMA     &trans  &kp PAGE_UP    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN
&trans   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &kp PERIOD    &trans  &kp LA(RIGHT)  &kp LA(LEFT)    &mkp MB1        &mkp MB3         &mkp MB2
&trans   &kp N0        &trans        &trans        &trans  &tog 2        &trans  &trans                                                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_3 {
            bindings = <
&kp PRINTSCREEN  &kp F7  &kp F8      &kp F9         &kp F10                                        &trans         &trans  &trans                &kp LC(LS(V))  &trans
&kp LS(LG(S))    &kp F4  &kp F5      &kp F6         &kp F11           &kp LG(V)            &trans  &trans         &trans  &trans                &kp LA(LEFT)   &bt BT_NXT
&trans           &kp F1  &kp F2      &kp F3         &kp F12           &trans               &trans  &trans         &trans  &kp RG(LEFT_CONTROL)  &trans         &bt BT_PRV
&kp RA(SPACE)    &trans  &kp LA(F4)  &kp LS(LC(A))  &kp LC(LG(LEFT))  &kp LG(LC(RIGHT))    &trans  &kp LS(LC(Z))                                               &bt BT_CLR
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        layer_4 {
            bindings = <
&bt BT_CLR_ALL  &trans  &trans  &trans  &kp LS(LC(M))                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans          &trans  &trans  &trans  &trans         &trans    &trans  &trans        &trans        &trans        &trans        &bt BT_NXT
&trans          &trans  &trans  &trans  &trans         &trans    &trans  &trans        &trans        &trans        &trans        &bt BT_PRV
&bootloader     &trans  &trans  &trans  &trans         &trans    &trans  &trans                                                  &bt BT_CLR
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                &trans
            >;
        };
    };
};
